<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="RegressionTests">
        <classes>
            <class name="tests.RegressionTest"/>
        </classes>
    </test>

    <test name="LoginTest">
        <classes>
            <class name="tests.LoginTest"></class>
        </classes>
    </test>

</suite>